p {
    resize: both;
    overflow: auto;
}
h1{
    resize: both;
    overflow: auto;
}
h2{
    resize: both;
    overflow: auto;
}

h3{
    resize: both;
    overflow: auto;
}

h4{
    resize: both;
    overflow: auto;
}
h5{
    resize: both;
    overflow: auto;
}


