{% extends 'ExploreIceland/base_bootstrap.html' %}
<!DOCTYPE html>

{% load staticfiles %}
<link href={% static "css/attraction.css" %} rel="stylesheet">
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                    <meta name="author" content="">
                        <link rel="icon" href="{% static "images/index.ico" %}">
                            
                            <title>Explore Iceland Narrow Jumbotron Template for Bootstrap</title>
                            
                            <!-- Bootstrap core CSS -->
                            <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
                                
                                <!-- Custom styles for this template -->
                                <link href={% static "css/about.css" %} rel="stylesheet">
                                    </head>
    {% block body_block %}
    <body>
        
        <div class="container">
            <div class="header clearfix">
             
             
            </div>
            
            <div class="jumbotron">
                <h1 class="display-3">wonderland</h1>
                <p class="lead">Are you ready to edxplore Iceland?</p>
                
            </div>
            
            <div class="row marketing">
                <div class="col-lg-6">
                    <h3>About</h3>
                    <p>Using our information to prepare for your trip in Iceland!!</p>
                    <p>Develop Team:</p>
                    <p>Bartosz Lesiak      GUID. 2039270L</p>
                    <p>Yada    Lawhavinit  GUID. 2312215L</p>
                    <p>Yi-Chu  Chen        GUID. 2322710C</p>
                    <p>Chieh   Teng        GUID. 2339910T</p>
                    
                </div>
                
                <div class="col-lg-6">
                    <h2>Categories</h2>
                    
                    <div>
                        {% if categories %} <ul>
                            {% for category in categories %}
                            <!-- Following line changed to add an HTML hyperlink -->
                            <li>
                                <a href="/ExploreIceland/attractioncategory/{{ category.slug }}">{{ category.name }}</a> </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no categories present.</strong> {% endif %}
                    </div>
                    
                    <h2>Most Viewed Articles</h2>
                    <div>
                        {% for page in pages %} <li>
                            <a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                            {% if page.views > 1 %}
                                ({{ page.views }} views)
                            {% elif page.views == 1 %}
                                ({{ page.views }} view)
                            {% endif %}
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <footer class="footer">
                <p>&copy; Company 2017</p>
            </footer>
            
        </div> <!-- /container -->
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
    {% endblock %}
</html>


