{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }}
{% endblock %}

{% block body_block %}

<link href={% static "css/attraction.css" %} rel="stylesheet">
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'about' %}">About </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropbtn">Attraction</button>
                            <div class="dropdown-content">
                                <a href="#Northern Light">Northern Light</a>
                                <a href="#Volcano">Volcano</a>
                                <a href="#Hot Sprin">Hot Spring</a>
                                <a href="#Waterfallt">Waterfall</a>
                                <a href="#Glacier">Glacier</a>
                            </div>
                        </div>
                        
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropbtn">City</button>
                            <div class="dropdown-content">
                                <a href="#Reykjavík">Reykjavík</a>
                                <a href="#Keflavík">Keflavík</a>
                                <a href="#Akureyri">Akureyri</a>
                                <a href="#Egilstaðir">Egilstaðir</a>
                                <a href="#Ísafjörður">Ísafjörður</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        
                        <div class="dropdown">
                            <button class="dropbtn">Activity</button>
                            <div class="dropdown-content">
                                <a href="#Hiking">Hiking</a>
                                <a href="#Ski">Ski</a>
                                <a href="#Ice Cave ">Ice Cave</a>
                                <a href="#Whale Cruise">Whale Cruise</a>
                                <a href="#Diving">Diving</a>
                                <a href="#Horse riding">Horse riding</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropbtn">Wild Animal</button>
                            <div class="dropdown-content">
                                <a href="#Whale">Whale</a>
                                <a href="#Seal">Seal</a>
                                <a href="#Icelandic horse">Icelandic horse</a>
                                <a href="#Puffin">Puffin</a>
                                <a href="#Reindeer">Reindeer</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                        
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration_register' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">Explore Iceland</h3>
        </div>
        
        <h1> Attraction </h1>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href="/ExploreIceland/attractioncategory/{{ category.slug }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
    </div>
    
    
    
    
    {% endblock %}

