{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
        <h1> Attraction </h1>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href="/ExploreIceland/attractioncategory/{{ category.slug }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

{% endblock %}
