{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Bárðarbunga in Vatnajökull</title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <img src="{% static "images/bardarbunga.jpg" %}"alt="Bárðarbunga in Vatnajökull." style="width:800px;">

    <h1>Bárðarbunga in Vatnajökull</h1>
    <p style="width:800px;text-align:justify;">Bárðarbunga is a stratovolcano located under Vatnajökull, Iceland's most extensive glacier. The second highest mountain in Iceland, 2,009 metres (6,591 ft) above sea level, Bárðarbunga is also part of a volcanic system that is approximately 200 kilometres (120 mi) long and 25 kilometres (16 mi) wide.
    Bárðarbunga is a subglacial stratovolcano located under the ice cap of Vatnajökull glacier within the Vatnajökull National Park in Iceland. It rises to 2,009 metres (6,591 ft) above sea level, making it the second highest mountain in Iceland, about 101 metres (331 ft) lower than Hvannadalshnjúkur.</p>

    <h2>How To Get There</h2>
    <p style="width:800px;text-align:justify;">Driving from Reykjavík to the Vatnajökull National Park along south Road 1 takes approximately 4 hour drive. Turn left to Road 998 to the entrance of Skaftafell / Vatnajökull National Park. But if tourists would like to visit Bárðarbunga caldera, highly suggest to register a local tour to pentetrate deeply. </p>

    <h2>What Highly Recommand To Do</h2>
    <ul>
        <li><a href="https://www.extremeiceland.is/en/attractions/bardarbunga-volcano">Bardarbunga Volcano Tour in Vatnajökull Glacier</a></li>
        <li><a href="https://iceland-photo-tours.com/holuhraun-bardarbunga-volcano-helicopter-tour/">Bardarbunga Volcano Helicopter Tour</a></li>
    </ul>
    
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=bardarbunga&key=AIzaSyCpQccmsA3QaC-wFNFIvUycmuhR9sA317A" allowfullscreen></iframe>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <aside><div class="fb-like"
         data-href="http://127.0.0.1:8000/ExploreIceland/bardarbunga/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
                data-share="true"></div></aside>

    <div class="fb-comments"
         data-href="http://127.0.0.1:8000/ExploreIceland/bardarbunga/"
         data-numposts="5"></div>
</div>

{% endblock %}
