<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title> Explore Iceland -
            {% block title_block %}
                Explore Iceland!!!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                    <li><a href="{% url 'auth_logout' %}?next=/ExploreIceland/">Logout</a></li>
                {% else %}
                    <li> <a href="{% url 'registration_register' %}">Sign Up</a></li>
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'index' %}">Index</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'attraction' %}">Attraction</a></li>
                <li><a href="{% url 'city' %}">City</a></li>
                <li><a href="{% url 'activity' %}">Activity</a></li>
                <li><a href="{% url 'wildanimal' %}">Wild Animal</a></li>
                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                <li><a href="{% url 'contact' %}">contact</a></li>
                <li><a href="{% url 'base_bootstrap' %}">base_bootstrap</a></li>
            </ul>
        </div>
    </body>
</html>
