{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Blue Lagoon in </title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <img src="{% static "images/bluelagoon.jpg" %}"alt="Blue Lagoon." style="width:800px;">

    <h1>Blue Lagoon</h1>
    <p style="width:800px;text-align:justify;">Blue Lagoon (Icelandic: Bláa lónið), also known as Blue Lake, is a famous geothermal spring in Iceland. Blue Lagoon is located in Grindavik on the Reykjanes Peninsula in southwestern Iceland, 13 km from Keflavik International Airport and 39 km from the capital, Reykjavík. The Blue Lagoon is formed by partially volcanic lava with a water temperature of about 37–39 °C. The lake is rich in minerals such as barium and sulfur. Is a famous tourist destination.</p>

    <h2>How To Get There</h2>
    <p style="width:800px;text-align:justify;">From the airport to the Blue Lake is about 15 minutes drive to Reykjanesbraut and along Reykjanesbraut/ Path 41 and Grindavíkurvegur.
    If driving from Lake Reykjavík to Blue Lake, then follow Road 41 and Grindavíkurvegur to Suðurnes. </p>

    <h2>What Highly Recommand To Do</h2>
    <ul>
        <li><a href="https://www.bluelagoon.com/">Silica Mud Mask</a></li>
    </ul>
    
    <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJIeuN0Jd01kgRK5NaIaDgb50&key=AIzaSyCpQccmsA3QaC-wFNFIvUycmuhR9sA317A" allowfullscreen></iframe>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <aside><div class="fb-like"
         data-href="http://127.0.0.1:8000/ExploreIceland/bardarbunga/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
                data-share="true"></div></aside>

    <div class="fb-comments"
         data-href="http://127.0.0.1:8000/ExploreIceland/bardarbunga/"
         data-numposts="5"></div>

</div>
{% endblock %}
