{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
        <title>Dettifoss Falls</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
            <h1>Dettifoss Falls</h1>
            <p style="width:1000px;text-align:justify;">Dettifoss is a waterfall in Vatnajökull National Park in Northeast Iceland, and is reputed to be the most powerful waterfall in Europe. The water comes from the nearby Vatnajökull glacier, whose sediment-rich runoff colors the water a greyish white. The superlative of "most powerful" comes from its water flow times its fall distance. The water of the wide Jökulsá á Fjöllum river falls for more than 44 metres, causing a massive, crashing spray.</p>
            <p style="width:1000px;text-align:justify;">This waterfall was prominently displayed in the opening scene in Prometheus by Ridley Scott.</p>
            <h4>How to get there</h4>
            <p style="width:1000px;text-align:justify;">Dettifoss is in the northeast part of Iceland and you can reach it on a day-trip from Akureyri or nearby Mývatn.</p>

            <img src="{% static "images/dettifoss.jpg" %}" alt="Dettifoss" width="1000"></img>
            <h4><small><i>(Source: GuideToIceland.is)</i></small></h4>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6538.3452904125525!2d-16.39333075101875!3d65.81467434102983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48cd068ace5f4fb9%3A0x404278759828237a!2sDettifoss!5e0!3m2!1sen!2spl!4v1521630652946"
                    width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

            <p><small>Sources: Wikipedia, GuideToIceland.is<small></p>
                <br>
                <div class="fb-like" data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/dettifoss/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="fb-comments" data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/dettifoss/" data-numposts="5"></div>
</div>
{% endblock %}
