{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
        <title>Seal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <img src="{% static "images/dynjandi.jpg" %}" alt="Dynjandi" width="600" height="300"></img>
            <h4><small><i>(Source: European Waterfalls)</i></small></h4>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1639.784577603584!2d-23.202030683861594!3d65.73281568907292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4f2ad1e5ebe72b0f%3A0x81787e3ee7c7433f!2sDynjandi!5e0!3m2!1sen!2spl!4v1521597609636" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            
        </div>
        <div class="col-sm-5">
            <h1>Dynjandi Falls</h1>
            <p style="text-align:justify">Deep in the remote Westfjords of Iceland, you will find the breathtakingly beautiful Dynjandi waterfall which is the biggest waterfall in the Westfjords and truly deserves to be called the jewel of the Westfjords.</p>
            <p style="text-align:justify">Dynjandi, or Fjallfoss as it is often called, cascades some 99 meters - looking exactly like a beautiful bridal veil - on top, it is 30 meters wide and widens up to 60 meters at the bottom.</p>
            <p style="text-align:justify">There are 6 other waterfalls below Dynjandi, which one passes on the way up to the biggest waterfall.  It is quite a scenic route with an elevation of some 200 meters up to the biggest waterfall.</p>
            <h4>How to get there</h4>
            <p style="text-align:justify">The waterfall is one of seven in a row of waterfalls. It's situated in the Westfjords of Iceland, the most remote area of the country. You can join this tour of Dynjandi from Ísafjörður - or rent a car and drive there yourself from Reykjavík but they journey takes 6 hours.</p>
            <p><small>Source: GuideToIceland.is<small></p>
                <br>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                         var js, fjs = d.getElementsByTagName(s)[0];
                         if (d.getElementById(id)) return;
                         js = d.createElement(s); js.id = id;
                         js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
                         fjs.parentNode.insertBefore(js, fjs);
                         }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-href="http://127.0.0.1:8000/ExploreIceland/waterfalls/dynjandi/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="fb-comments" data-href="http://127.0.0.1:8000/ExploreIceland/waterfalls/dynjandi/" data-numposts="5"></div>
        </div>
    </div>
</div>
{% endblock %}


<footer class="footer">
    <p>&copy; Company 2017</p>
</footer>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
