{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
        <title>Seal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static "images/egilsstadir.jpg" %}" alt="name" width="490" height="300"></img>
                <h4>A Bird's Eye View of Egilsstaðir with a visible more oceanic temperate climate than in other parts of Iceland.<br><small><i>(Source: Mats Icelandic Image Library)</i></small></h4>
                <br>
                <img src="{% static "images/redhouses.jpg" %}" alt="Red houses" width="490" height="300"></img>
                <h4>Red Toy Houses in Egilsstaðir.<br><small><i>(Source: AnotherIceland.com)</i></small></h4>
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26713.522409694047!2d-14.432397955862756!3d65.2623515826131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48cc04800da89ed3%3A0x95bf416b2c7c7f54!2sEgilssta%C3%B0ir%2C+Iceland!5e0!3m2!1sen!2suk!4v1521127826331" width="490" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                
            </div>
            <div class="col-sm-6">
                <h1>Egilsstaðir</h1>
                <p>/EH-kil-stadir/</p>
                <h3 style="text-align:justify">Egilsstaðir is a town in east Iceland on the banks of the Lagarfljót river. East Iceland is Iceland's best kept secret. It is an expansive, enchanting region, where you can find all of Iceland's attractive aspects, culture and a flourishing society, endless opportunities for entertainment and outdoor recreation, picturesque nature in all directions and more natural sights than almost anywhere else. </h3>
                <br>
                <h4>Vibrant Society</h4>
                <p style="text-align:justify">Egilsstaðir is a town in east Iceland on the banks of Lagarfljót river. The vicinity that Egilsstaðir is located in is called Fljótsdalshérað and it is home to a progressive, energetic society, in keeping with the special environment of the area. Affected by the inviting surroundings and comfortable climate, the cordiality of locals provides a warm welcome for those arriving in the municipality. There is a large range of busy cultural activities, as well as ambitious work in music, art and drama and varied undertakings by clubs and other organisations. Living museums sponsor special exhibits and an assortment of presentations and entertaining programmes. The numerous cultural festivals held annually in Fljótsdalshérað attract many artists from everywhere in Iceland to participate.</p>
                <br>
                <h4>Scenic Nature</h4>
                <p style="text-align:justify">Famous for its natural beauty and pleasant climate, often resembling that on the Continent, Fljótsdalshérað is particularly characterised by woods, whose appearance in the environment is special for Iceland. The local society, waterfalls, lakes and rivers contribute to the many scenic attractions favourable for outdoor recreation. There are many enjoyable walking routes through forests and open areas, and trips into nearby mountain ranges are popular regardless of the time of year. Not only is the fauna varied, but there are outstanding opportunities for bird-watching, besides the unique chance to view reindeer in Iceland. Lagarfljót lake is inhabited by Iceland's most renowned water monster, Lagarfljótsormur.</p>
                <br>
                <p>Sources: VisitEgilsstadir.is, East.is</p>
                <br>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                         var js, fjs = d.getElementsByTagName(s)[0];
                         if (d.getElementById(id)) return;
                         js = d.createElement(s); js.id = id;
                         js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
                         fjs.parentNode.insertBefore(js, fjs);
                         }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/attractioncategory/city/egilsstadir/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="fb-comments" data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/attractioncategory/city/egilsstadir/" data-numposts="5"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
