{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}


{% block body_block %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12&appId=135348323953665&autoLogAppEvents=1';
         fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));</script>

<link href={% static "css/attraction.css" %} rel="stylesheet">
 <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
<div class="container">
    <div class="header clearfix">
        
    </div>
    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
            
            <!-- Custom styles for this template -->
            <link href={% static "css/gallery.css" %} rel="stylesheet">
                
    
        
        <div class="album text-muted">
            <div class="container">
                
                <div class="row">
                    <div class="card">
                        
                            <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery1.jpg" %}" alt="Picture of gallery1" />
                        
                            <p class="card-text">That's the most beautiful waterfall I ever seen!</p>
                           
                            <div class="fb-like" data-href="{% static "images/gallery1.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            
                        </div>
                    
                    <div class="card">
                        
                            <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery2.jpg" %}" alt="Picture of gallery2" />
                            <p class="card-text">Rent a car and start out adventure in Iceland!</p>
                            <div class="fb-like" data-href="{% static "images/gallery2.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                    
                    <div class="card">
                        
                        <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery3.jpg" %}" alt="Picture of gallery3" />
                            <p class="card-text">Hello! Icelandic Horse! so cuteeeee!</p>
                            <div class="fb-like" data-href="{% static "images/gallery3.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                    
                    <div class="card">
                        
                        <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery4.jpg" %}" alt="Picture of gallery4" />
                            <p class="card-text">Game of Thrones scenes!</p>
                            <div class="fb-like" data-href="{% static "images/gallery4.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                    <div class="card">
                        
                        <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery5.jpg" %}" alt="Picture of gallery5" />
                            <p class="card-text">How a wonderful waterfall in Iceland!</p>
                            <div class="fb-like" data-href="{% static "images/gallery5.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                    <div class="card">
                         <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery6.jpg" %}" alt="Picture of gallery6" />
                            <p class="card-text"> Kirkjufell! Amazing!!</p>
                            <div class="fb-like" data-href="{% static "images/gallery6.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                    
                    <div class="card">
                         <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery7.jpg" %}" alt="Picture of gallery7" />
                            <p class="card-text">His leg is so short XD.</p>
                            <div class="fb-like" data-href="{% static "images/gallery7.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                    <div class="card">
                        <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery8.jpg" %}" alt="Picture of gallery8" />
                            <p class="card-text">So peaceful place.</p>
                            <div class="fb-like" data-href="{% static "images/gallery8.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                    <div class="card">
                        <img style='height: 280px; width: 356px; object-fit: cover' src="{% static "images/gallery9.jpg" %}" alt="Picture of gallery9" />
                            <p class="card-text">What a amazing ice cave in Iceland</p>
                            <div class="fb-like" data-href="{% static "images/gallery9.jpg" %}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                </div>
                
            </div>
        </div>
        
        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                <a href="#">Back to top</a>
                </p>
                <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
                <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
            </div>
        </footer>
        
        
        {% endblock %}





        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="http://v4-alpha.getbootstrap.com//assets/js/vendor/holder.min.js"></script>
        <script>
            $(function () {
              Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
              });
            </script>
        <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>


