{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
        <title>Seal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <div class="container-fluid">
        
        <img src="{% static "images/hikers.jpg" %}" alt="Hikers" width="1000" height="700"></img>
        <p><i>(Source: GuideToIceland.is)</i></p>
        <h1>Hiking in Iceland</h1>
        <br>
        <h3 style="text-align:justify">Iceland’s unspoiled nature in the highlands is the ultimate playground for adventure enthusiasts and nature lovers. With multi-day trekking and hiking tours for all activity levels in different regions of Iceland, there are an endless amount of opportunities to explore. Moss covered volcanoes, stunning glaciers, bubbling hot springs, and powerful waterfalls provide a spectacular backdrop as we hike and trek from one spectacular area to the next each day.</h3>
        <p>Source: MountainGuides.is</p>
        <br>
        <h2 style="text-align:center">Popular Hiking Tours</h2>
        <br>
        
        <a href="https://guidetoiceland.is/book-holiday-trips/the-mysterious-snaefellsnes-national-park">
            <h3 style="text-align:center">Snaefellsnes National Park Tour</h3>
        </a>
        <h4 style="text-align:center">Reykjavík | seals | birds | black beach | subglacial volcano | cliffs</h4>
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static "images/snaefellsnestour.jpg" %}" alt="Kirkjufell" width="500" height="300"></img>
                <h4>The Kirkjufellsfloss Waterfalls and Kirkjufell, the most photographed mountain in Iceland.<br><small><i>(Source: GuideToIceland.is)</i></small></h4>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d217389.96099795165!2d-24.05709745747288!3d64.80671241104918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x492a869c3b453aab%3A0xb6ebcb4c3a1183c!2zU27DpmZlbGxzasO2a3VsbA!5e0!3m2!1sen!2spl!4v1521580740717" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <br>
        
        <a href="https://guidetoiceland.is/book-holiday-trips/photography-tour-stunning-nature-landscape/">
            <h3 style="text-align:center">Westfjords Photography Tour</h3>
        </a>
        <h4 style="text-align:center">Westfjords | Ísafjorður | mountains | Arctic foxes | fishing villages | shipwreck</h4>
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static "images/westfjordstour.jpg" %}" alt="Boats in Patrekfjoedur" width="500" height="300"></img>
                <h4>Fishing boats anchored at the dock of Patreksfjörður Harbour.<br><small><i>(Source: GuideToIceland.is)</i></small></h4>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d840198.569408713!2d-23.88143659266819!3d65.71346628016084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4f2b382977494d15%3A0xfec9f2de91036f80!2sWestfjords+Region%2C+Iceland!5e0!3m2!1sen!2spl!4v1521580792826" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <br>
        
        <a href="https://guidetoiceland.is/book-holiday-trips/hiking-at-the-end-of-the-world/">
            <h3 style="text-align:center">Hiking at the End of the World</h3>
        </a>
        <h4 style="text-align:center">Egilsstaðir | Húsavík | North East | fjords | mountains | abandoned churches</h4>
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static "images/endofworldtour.jpg" %}" alt="Lava fields" width="500" height="300"></img>
                <h4>Lava fields, the North-Eastern Highlands.<br><small><i>(Source: GuideToIceland.is)</i></small></h4>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52921.340051816296!2d-14.020957996891802!3d65.51197470542633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48cbf239060f367d%3A0xe34f9fb55576ca7b!2sDyrfjoll!5e0!3m2!1sen!2spl!4v1521581488103" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <br>
        
        <a href="https://guidetoiceland.is/book-holiday-trips/2-day-glacier-hiking-tour-south-coast-glacier-lagoon-waterfalls-golden-circle/">
            <h3 style="text-align:center">Jokulsarlon Ice Lagoon Tour with Glacier Hike</h3>
        </a>
        <h4 style="text-align:center">Reykjavík | waterfalls | lava fields | icebergs | black beaches | glaciers</h4>
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static "images/icelagoontour.jpg" %}" alt="Ice Lagoon" width="500" height="300"></img>
                <h4>Jökulsárlón Ice Lagoon.<br><small><i>(Source: GuideToIceland.is)</i></small></h4>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55815.92393152272!2d-16.279321575007916!3d64.07624571583652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48cfd6ecd73a3819%3A0xcd05c959e10146a9!2zSsO2a3Vsc8OhcmzDs24!5e0!3m2!1sen!2spl!4v1521581534990" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <br>
        
        <a href="https://guidetoiceland.is/book-holiday-trips/blue-ice-experience/">
            <h3 style="text-align:center">Blue Ice Experience in Skaftafell</h3>
        </a>
        <h4 style="text-align:center">South East | glaciers | climbing | blue ice</h4>
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static "images/blueicetour.jpg" %}" alt="Blue ice" width="500" height="300"></img>
                <h4>The blue ice of the Svínafellsjökull outlet glacier.<br><small><i>(Source: GuideToIceland.is)</i></small></h4>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55852.21683795498!2d-16.919118375784816!3d64.05813510627901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d035d3f5b9d2b1%3A0xe10130975bf51ba9!2sSkaftafell+%2F+Vatnaj%C3%B6kull+National+Park!5e0!3m2!1sen!2spl!4v1521581604268" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-6">
                <h2>Find more tours...</h2>
                <h3><a href="https://guidetoiceland.is/book-trips-holiday">Guide To Iceland</a></h3>
                <h3><a href="https://www.tripadvisor.com/Attraction_Products-g189952-Iceland.html">TripAdvisor</a></h3>
                <h3><a href="https://www.icelandtours.is/en/vacation-packages/?gclid=CjwKCAjw4sLVBRAlEiwASblR-_HyJNf0Ek0ZIMqsc0aSJegbRrc5qs-qGuBZbljfqq-QYzJVopxfxBoCECIQAvD_BwE">Iceland Tours</a></h3>
                <h3><a href="https://www.icelandadvice.is/most-popular-tours-iceland/?gclid=CjwKCAjw4sLVBRAlEiwASblR--8x6JrMWXz1kN4K6Sy6ySDW5OQTsR1JpbqbJbgbhcsFiCtWGnyFYhoCNfcQAvD_BwE">Iceland Advice</a></h3>
            </div>
            <div class="col-sm-6">
                <br>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                         var js, fjs = d.getElementsByTagName(s)[0];
                         if (d.getElementById(id)) return;
                         js = d.createElement(s); js.id = id;
                         js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
                         fjs.parentNode.insertBefore(js, fjs);
                         }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/attractioncategory/activity/hiking/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="fb-comments" data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/attractioncategory/activity/hiking/" data-numposts="5"></div>
            </div>
        </div>
    </div>
    {% endblock %}
