{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Horse Riding in Iceland</title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <img src="{% static "images/horse.jpg" %}"alt="horseriding." style="width:800px;">

    <h1>Horse Riding</h1>
    <p style="width:1000px;text-align:justify;">Take a cue from the locals and traverse the rugged landscape on horseback, following paths traced by Vikings thousands of years ago. Horses served as the nation’s primary form of transport well into the mid-1900s and remain an important part of everyday life. The spunky, good-natured miniature Icelandic horses are known for their trademark tolt, a speedy and silky smooth four-beat gait. Short trips near Reykjavik give city-lovers and those on European layovers a quick glimpse at the contrasting tundra — from plains of neon moss to lava-strewn fields. Longer treks venture deeper into the landscape, complementing time in the saddle with trips to healing hot springs and underwater canyons.
    </p>

    <h2>Recommand Landscape To Ride Icelandic Horses</h2>
    <li>Lava Field in Hafnarfjörður</li>
    <img src="{% static "images/lavahorse.jpg" %}"alt="Lava Horseriding." style="width:800px;">
    <p style="width:1000px;text-align:justify;">The Viking horse riding is unique in Iceland with facilities as good as they get. It's set in beautiful surroundings just outside the town of Hafnarfjörður, about a 10 minutes' drive from Reykjavík. The facilities and the fascinating area provide endless opportunities of riding, hiking and other outdoor activities.The tourists ride on excellent riding paths across stunning lava fields, crossing Kaldá river, surrounding the Mt. Helgafell volcano or into Heiðmörk Nature Park.
View Kaldársel sheep and Lake Hvaleyrarvatn along the beautiful hillside setting. Among more lava fields, the beautiful Bláfjöll Mountains set the background for my first time going any faster than a mere walk when riding a horse. Learning to trot/gallop on Icelandic horses put us at ease as they were so smart they knew their own route home it was like cruising on autopilot. Icelandic horses are some of the most coveted in the world, though shorter and a bit stockier in appearance, they are some of the most good natured, versatile and agile in the world, knowing more than the standard trot, gallop and walk, but also adding two additional commands, the tölt and the flying pace, well known in the international racing world.</p>
    <li>Glacier Realm in Öræfajökull Glacier and Hvannadalshnjúkur Volcano</li>
    <img src="{% static "images/icehorse.jpg" %}"alt="Ice-Competition Horseriding." style="width:800px;">
    <p style="width:1000px;text-align:justify;">Visitors can ride on glacier in eastern Skaftafell National park and western Jökulsárlón Glacier Lagoon. The tour suits both beginners and experienced riders and we try to arrange the tour to the ability and experience of the rider.The area is known for its contrasts and diverse landscape. From this short tour you ride through green fields and black, rocky sands, over small creeks and past a big, dark, streamy glacier river and past a small, typical Icelandic forrest. On your one side you have the flat land reaching to the sea far away on the horizon and on the other side you have the mountains with the ice-covered Öræfajökull, the largest active volcano in Iceland (2110 m), towering over them all with its many glacier tongues flowing down the mountain hills.</p>

    <h2>When To Ride</h2>
    <p style="width:1000px;text-align:justify;">The tours in Iceland are usually offered all year round.But depends on what lanscape you would like to visit and choice of route during different season and weather in Iceland.</p>

    <h2>Recommended Area</h2>
        <li>Vatnajökull National Park</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1767565.693472407!2d-18.93308096080499!3d64.36504660167317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d1d9c01cfda2db%3A0x8948007619cbf306!2sVatnajokull!5e0!3m2!1sen!2suk!4v1520723835115"
            width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        <li>Myrdalsjökull Glacier</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7084.393336658058!2d-19.139039050936496!3d63.64672928394696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d72d88ca4699b1%3A0xcdc7afe8d7a199d4!2zTcO9cmRhbHNqw7ZrdWxs!5e0!3m2!1sen!2suk!4v1520728369931"
            width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        <li>Langjökull Icefield</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d665149.9815520236!2d-20.801501556775534!3d64.43663002177975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d40119f921d8ff%3A0xa35b50836c28c715!2sLangjokull+Glacier!5e0!3m2!1sen!2suk!4v1520726996698"
            width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </ul>

    <h2>Recommended Agency</h2>
        <li>iExplore        | <a href="https://www.iexplore.com/experiences/adventures/places-better-experienced-on-horseback">www.iexplore.com/</a></li>
        <li>Extreme Iceland | <a href="https://www.extremeiceland.is/en/activity-tours-iceland/glacier-hiking-iceland/ice-caves">www.extremeiceland.is</a></li>
        <li>Iceland Travel  | <a href="https://www.icelandtravel.is/day-tours/#/?rows=18&q=&sort=sort_i%20desc&fq=activities_com:13835">www.icelandtravel.is</a></li>
    </ul>


    <p>credit:<a href="https://www.icelandtravel.is/">www.icelandtravel.is</a></p>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <aside><div class="fb-like"
         data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/attractioncategory/activity/horseriding/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
                data-share="true"></div></aside>

    <div class="fb-comments"
         data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/attractioncategory/activity/horseriding/"
         data-numposts="5"></div>

<div style="width:1000px; margin:0 auto;">
{% endblock %}
