{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Thermal Pools in Iceland</title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <h1>Hot Springs</h1>
    <p style="width:1000px;text-align:justify;">
    Volcanoes in Iceland are famous for the name of “The Polar Circle Fire Island.” There are 200 to 300 volcanoes and 40 to 50 active volcanoes. The main volcanoes are Laki, Warnadals, Hekla and Catla and so on. The volcanic activity on the southwest coast from 1963 to 1967 formed a small island of approximately 2.1 square kilometers. Geothermal resources are abundant, and the number of hot springs is the highest in the world. There are about 250 alkaline hot springs in the whole island, and the largest hot spring can produce 200 liters of spring water per second. </p>

    <h3>Top 2 Hot Springs in Iceland</h3>
    <p style="width:1000px;text-align:justify;">
The most famous hot spring are Blue Lagoon and Myvatn. Iceland Blue Lake, about 39 kilometers from Iceland's capital Reykjavík, is Iceland's famous geothermal hot spring lake, because the lake dissolves the minerals of various volcanic lavas and ceria from the depths of the earth's crust. It also has a magical beauty effect.
87% percent of Icelandic people bathe in hot springs, and there are more than 800 natural hot springs throughout Iceland. Although the Blue Lake on the outskirts of Reykjavík is the most famous hot spring, in fact, other hot springs can also speak for Icelandic hot springs.
Mývatn Nature Baths located in the northeastern part of Iceland, the Mi Lake Hot Springs are smaller than Blue Lake. The facilities inside are also simpler than Blue Lake, but the price is cheaper than Blue Lagoon. It may be less famous than Blue Lake, so Mývatn are not so crowded and more comfortable.</p>

    <h4><a href="{% url 'bluelagoon' %}">1. Blue Lagoon</a></h4>
    <img src="{% static "images/bluelagoon.jpg" %}"alt="Bláa lónið." style="width:1000px;">

    <h4><a href="{% url 'myvatnbath' %}">2. Mývatn Geothermal Area</a></h4>
    <img src="{% static "images/myvatnbath.jpg" %}"alt="Jarðböðin við Mývatn." style="width:1000px;">
    <p>
    </p>
    <iframe src="https://www.google.com/maps/d/embed?mid=1t-KNjfYWSQpZPuoC2xpa1ZlMwFQ" width="1000px" height="600px"></iframe>

        <h2>Other private hot springs that tourists have visited and highly recommanded.</h2>
    <p style="width:1000px;text-align:justify;">1. Secret Lagoon
    （Address: Hvammsvegur, 845 Flúðir, Iceland）

    The secret spa is located along the Golden Circle and was built in 1891. It is the oldest hot spring in Iceland. It was closed in 1947 and reopened after a few years of refurbishment until now. Compared with Blue Lake Hot Springs, secret hot springs are more wild and natural. The landscape surrounding the hot springs maintains the natural beauty of nature. When bathing in hot springs, you can also wear a floating helmet, floating clothes floating around on hands and feet, listen to the music in the helmet, half-floating in the hot springs, looking at the Iceland night sky, enjoy the midnight sun or midnight aurora.</p>
    <img src="{% static "images/secretlagoon.jpg" %}"alt="Secret Lagoon." style="width:1000px;">
        <p style="width:1000px;text-align:justify;"><a href="https://www.hostel.is/tours/landmannalaugar-by-bus">2. Laugarvatn Fontana Spa</a>
        （Address: Hverabraut 1, Laugarbraut, 840 Laugarvatn, Iceland）

        The Laugarvatn Fontana geothermal spa is also on the Icelandic Gold Tourism Circle, just 50 minutes from the capital of Iceland and not far from the Geysir Geyser and the Gullfoss Gold Waterfall, in between.
        Fontana Spa is far from the large scale of Blue Lake Hot Springs, but it is very warm. With the beautiful surrounding lakes and mountains, it feels like relaxing in the world.
        In addition to the hot spring pools, there are sauna rooms, wet steam rooms and dry steam rooms. The steam between wet steaming is not ordinary water steam, but sulfurous geothermal steam. The dry steam room also has a large glass window where you can enjoy the dry steam while enjoying the lake view.</p>
    <img src="{% static "images/laugarvatnfontana.jpg" %}"alt="Laugarvatn Fontana." style="width:1000px;">
        <p style="width:1000px;text-align:justify;">3. Hveragerði Spa Town
        （Address: Rangárvallasýsla,Iceland）

        Hveragerði is a small town in southwest Iceland. The town boasts abundant geothermal resources and is surrounded by more than 100 hot springs, large and small. Many Icelanders like to come here to soak in hot springs.
        From the town uphill, there are many geothermal landscapes on the road, which are half an hour fast and half an hour slow. The last one-kilometer-long Reykjadalur hot spring river is the destination for most people here. The water temperature of this wild brook hot spring is about 38 degrees, and the upper reaches can reach 40 degrees. After climbing up the hill to the bubble hot springs, you can eliminate fatigue.</p>
    <img src="{% static "images/reykjadalurvalley.jpg" %}"alt="Reykjadalur Valley." style="width:1000px;">


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like"
         data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/attractioncategory/attraction/hotspring/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
         data-share="true"></div>

    <div class="fb-comments"
         data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/attractioncategory/attraction/hotspring/"
         data-numposts="5"></div>


{% endblock %}
