{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Ice Cave Exploring</title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <img src="{% static "images/index.jpg" %}"alt="Penny explored Ice Cave." style="width:800px;">

    <h1>Ice Cave Exploring</h1>
    <p style="width:800px;text-align:justify;">Ice caves are located in Vatnajokull glacier which is in south east
        Iceland. There is no way to say where the caves are precisely, as new caves form in different locations each
        year. And what makes these caves even more exciting is the fact that they can only found during the wintertime
        when glacial rivers retract and the water freezes. So each fall the glacier guides head out in search for them
        and once they've found caves that have everything needed for travellers to visit them; thick walls and roof,
        extreme glacial beauty (you've seen those photos - right?), they have the location for the season. So as you
        can see you will have to allow for flexibility in your timing as these caves are not always located right next
        to the highway.</p>

    <h2>How To Get There</h2>
    <p style="width:800px;text-align:justify;">If you are up for driving yourself you can rent a car and drive to the
        Vatnajokull region. As it it's more than a 4 hour drive and the winter time in Iceland offers limited daylight,
        we recommend you plan an overnight stay along the way to break your journey, or even book a ready made glacial
        self-drive.  Either way you need to book a local tour to visit the caves as glaciers can be very dangerous
        (doesn't mind if you're walking on top of them or exploring their insides) and you should always have
        a professional guide with you and wear the appropriate gear, when exploring them.</p>

    <h2>When To Get There</h2>
    <p style="width:800px;text-align:justify;">To tell you the truth there is a chance it might already be fully booked
        for next season. As you need a professional guide to take you into the caves and the demand for the tours is so
        great it is wise to plan ahead. </p>

    <h2>Recommended Area</h2>
        <li>Vatnajökull Glacier Region</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1767565.693472407!2d-18.93308096080499!3d64.36504660167317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d1d9c01cfda2db%3A0x8948007619cbf306!2sVatnajokull!5e0!3m2!1sen!2suk!4v1520723835115"
            width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        <li>Myrdalsjökull Glacier Region</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7084.393336658058!2d-19.139039050936496!3d63.64672928394696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d72d88ca4699b1%3A0xcdc7afe8d7a199d4!2zTcO9cmRhbHNqw7ZrdWxs!5e0!3m2!1sen!2suk!4v1520728369931"
            width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        <li>Langjökull Glacier Region</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d665149.9815520236!2d-20.801501556775534!3d64.43663002177975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d40119f921d8ff%3A0xa35b50836c28c715!2sLangjokull+Glacier!5e0!3m2!1sen!2suk!4v1520726996698"
            width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </ul>

    <h2>Recommended Agency</h2>
        <li>Guide To Iceland | <a href="https://guidetoiceland.is/book-trips-holiday/nature-tours/caves">guidetoiceland.is/</a></li>
        <li>Extreme Iceland | <a href="https://www.extremeiceland.is/en/activity-tours-iceland/glacier-hiking-iceland/ice-caves">www.extremeiceland.is</a></li>
        <li>Iceland Travel | <a href="https://www.icelandtravel.is/day-tours/#/?rows=18&q=&sort=sort_i%20desc&fq=activities_com:13835">www.icelandtravel.is</a></li>
    </ul>


    <p>credit:www.icelandtravel.is</p>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <aside><div class="fb-like"
         data-href="http://127.0.0.1:8000/ExploreIceland/icecaveexploring/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
                data-share="true"></div></aside>

    <div class="fb-comments"
         data-href="http://127.0.0.1:8000/ExploreIceland/icecaveexploring/"
         data-numposts="5"></div>

</div>

{% endblock %}
