{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Kirkjufell Northen Lights</title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <img src="{% static "images/kirkjufell.jpg" %}"alt="Kirkjufell." style="width:1000px;">

    <h1>Kirkjufell Northen Lights</h1>
    <p style="width:1000px;text-align:justify;">The Kirkjufell is the best place to look at Aurora  in Snæfellsnes. After leaving Reykjavík, in fact, most places will not have too many buildings that will cause artificial damage (except for Akureyri and some large towns). The Sinai peninsula is located in the west of Iceland, bordering on the north of Breza Bay and the Walmsfjord, and on the south of Fachsa Bay, it is about 90 kilometers long. The spectacular scenery of the Snail Peninsula is often referred to as the epitome of Iceland. Famous places on the peninsula include Mount Sinai Volcano and its covered glaciers of the same name, Kirkjufell Mountain. The peninsula has a rich volcanic landscape. It has a view of the rising crater, undulating lava landforms, and many beautiful scenery and Seaside town.
    The Sinai Peninsula in the west is undoubtedly beautiful place to see Northern Lights. Under the background of the western classic attraction- the Kirkjufell Mountain, the Aurora will appear more attractive and brilliant.</p>

    <h2>How To Get There</h2>
    <p style="width:1000px;text-align:justify;">Driving along Velustrandvegur/Walk 49 from Reykjavík to the northwest, and then continuely go through Jóðvegur 1, Þjóðvegur, Snæfellsnesvegur, Vatnaleið, Snæfellsnesvegur and till Kvíabryggja. The approximate time required is two and a half hours, nearly 180 kilometers.</p>

    <h2>What Highly Recommand To Do</h2>
    <ul>
        <li>Volcano tour</li>
        <li>Kirkjufell Mountain hiking and Kirkjufellsfoss visiting</li>
    </ul>
    
    <p>credit:<a href="https://www.nomadicmatt.com/travel-guides/iceland/">https://www.nomadicmatt.com/travel-guides/iceland/</a></p>

    <iframe width="1000" height="600" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJhw_Xjat71UgRe9sxd6VbtAk&key=AIzaSyCpQccmsA3QaC-wFNFIvUycmuhR9sA317A" allowfullscreen></iframe>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <aside><div class="fb-like"
         data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/kirkjufell/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
                data-share="true"></div></aside>

    <div class="fb-comments"
         data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/kirkjufell/"
         data-numposts="5"></div>
</div>

{% endblock %}
