{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Langjökull Glacier</title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <img src="{% static "images/Langjokull.jpg" %}"alt="Langjokull Glacier." style="width:1000px;">

    <h1>Langjökull Glacier</h1>
    <p style="width:1000px;text-align:justify;">The second biggest glacier in Iceland, after Vatnajokull, Langjokull
        is arguably the most popular glacier for tourists to visit. This is mainly due to how easily accessible
        it is from Reykjavik and the abundant activities available there! Langjokull sits happily within
        ‘The Golden Circle’ of Iceland’s main tourist attractions. This generally includes Þingvellir National Park,
        Gullfoss waterfall and Haukadalur, a geothermal area which contains the geysers Geysir and Strokkur, amongst
        other smaller attractions.</p>

    <h2>How To Get There</h2>
    <p style="width:1000px;text-align:justify;">Named after its large, oblong shape, ‘Langjökull’ literally means
        ‘long glacier’ in Icelandic. This incredible, natural formation can be found in the midwest highlands of
        Iceland. For those wanting to visit Langjokull from Reykjavik, there are two options. The first option is
        to book a tour that leaves directly from Reykjavik. This is a great option for travellers with little
        experience of driving in adverse conditions. The second option is to drive to Husafell waterfall
        (a worthy sightseeing stop in itself) and then join a tour that departs from there. The drive will take
        approximately 1 hour and 40 minutes.</p>

    <h2>What To Do</h2>
    <ul>
        <li>Exploring the Glacier</li>
        <li>Snowmobiling</li>
    </ul>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d665149.9815520236!2d-20.801501556775534!3d64.43663002177975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d40119f921d8ff%3A0xa35b50836c28c715!2sLangjokull+Glacier!5e0!3m2!1sen!2suk!4v1520726996698"
            width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <aside><div class="fb-like"
         data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/langjokull/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
                data-share="true"></div></aside>

    <div class="fb-comments"
         data-href="http://exploreiceland.pythonanywhere.com/ExploreIceland/langjokull/"
         data-numposts="5"></div>
</div>

{% endblock %}
