{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Myrdalsjökull</title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <img src="{% static "images/maelifell.jpg" %}"alt="Maelifell." style="width:800px;">

    <h1>Myrdalsjökull</h1>
    <p style="width:800px;text-align:justify;">Situated right on the edge of the Myrdalsjökull glacier, this has got to be one of the most impressive volcanoes we’ve ever seen. With a deep, emerald green color, Maelifell is one of the most striking and unmistakable volcanoes out there. There is so much to do in the vicinity of the area, including some stunning hot springs to bathe in and picture-perfect sights. The best time to go is in late June, by which time the snow has melted, and the colors are much more discernable.
    The Myrdalsjökull Icefield is Iceland's southernmost glacier, and its Icelandic language means "glacial valley in the wetlands." With an area of 590 square kilometers, it is the fourth largest glacier in Iceland. West Eyjafjallajokull. Under the glacier is the famous active <a href="http://127.0.0.1:8000/ExploreIceland/katla/">volcano Katla</a></p>

    <h2>How To Get There</h2>
    <p style="width:800px;text-align:justify;">Driving along Velustrandvegur/Walk 49 from Reykjavík to the southeast about 25 km west of Vík and about 11 km east of Skógar. From Reykjavík there is about 160 km and the driving time is about 2 hours to the foot of Myrdalsjökull.</p>

    <h2>What Highly Recommand To Do</h2>
    <ul>
        <li><a href="https://www.arcanum.is/tours/from-myrdalsjokull/">Glacier Walk from Myrdalsjökull</a></li>
        <li>Myrdalsjökull Glacier Snowmobiling</li>
        <li><a href="https://www.northbound.is/tour/1/atv-black-sand-beach">All-Terrain Vehicle(ATV) - Quad Bike</a></li>
        <li>Eyjafjallajokull - The Fifth Largest Glacier in Iceland</li>
    </ul>
    
    <p>credit:<a href="https://www.nomadicmatt.com/travel-guides/iceland/">https://www.nomadicmatt.com/travel-guides/iceland/</a></p>

    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Maelifell&key=AIzaSyCpQccmsA3QaC-wFNFIvUycmuhR9sA317A" allowfullscreen></iframe>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <aside><div class="fb-like"
         data-href="http://127.0.0.1:8000/ExploreIceland/maelifell/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
                data-share="true"></div></aside>

    <div class="fb-comments"
         data-href="http://127.0.0.1:8000/ExploreIceland/maelifell/"
         data-numposts="5"></div>
</div>

{% endblock %}
