{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
<h2>Search Explore Iceland Article</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
	<li><a href="{% url 'akureyri' %}">Akureyri</a></li>
	<li><a href="{% url 'egilsstadir' %}">Egilstaðir</a></li>
	<li><a href="{% url 'isafjordur' %}">Ísafjörður</a></li>
	<li><a href="{% url 'akureyri' %}">Akureyri</a></li>
	<li><a href="{% url 'reykjavik' %}">Reykjavík</a></li>


	<li><a href="{% url 'diving' %}">Diving</a></li>
	<li><a href="{% url 'hiking' %}">Hiking</a></li>
	<li><a href="{% url 'horseriding' %}">Horse riding</a></li>
	<li><a href="{% url 'icecaveexploring' %}">Ice Cave Exploring</a></li>
	<li><a href="{% url 'ski' %}">Ski</a></li>
	<li><a href="{% url 'whalecruise' %}">Whale Cruise</a></li>

	<li><a href="{% url 'horse' %}">Horse</a></li>
	<li><a href="{% url 'puffin' %}">Puffin</a></li>
	<li><a href="{% url 'reindeer' %}">Reindeer</a></li>
	<li><a href="{% url 'seal' %}">Seal</a></li>
	<li><a href="{% url 'whale' %}">Whale</a></li>

	<li><a href="{% url 'glacier' %}">Glacier</a></li>
	<li><a href="{% url 'hotspring' %}">Hot Spring</a></li>
	<li><a href="{% url 'northernlights' %}">Northern light</a></li>
	<li><a href="{% url 'volcano' %}">Volcano</a></li>
	<li><a href="{% url 'waterfall' %}">Waterfall</a></li>

	<!--Inside Gracier-->
	<li><a href="{% url 'vatnajokull' %}">Vatnajökull Glacier</a></li>
	<li><a href="{% url 'langjokull' %}">Langjökull Glacier</a></li>
	<li><a href="{% url 'hofsjokull' %}">Hofsjökull Glacier</a></li>
	<li><a href="{% url 'myrdalsjokull' %}">Myrdalsjökull Glacier</a></li>
	<li><a href="{% url 'eyjafjallajokull' %}">Eyjafjallajökull Glacier</a></li>
    <!--Inside northern light-->
    <li><a href="{% url 'goldencircle' %}">golden circle</a></li>
    <li><a href="{% url 'kirkjufell' %}">kirkjufell</a></li>
    <li><a href="{% url 'reynisfjara' %}">reynisfjara</a></li>
    <!--Inside volcano-->
    <li><a href="{% url 'bardarbunga' %}">bardarbunga</a></li>
    <li><a href="{% url 'katla' %}">katla</a></li>
    <li><a href="{% url 'maelifell' %}">maelifell</a></li>
    <!--Inside hot spring-->
    <li><a href="{% url 'bluelagoon' %}">bluelagoon</a></li>
    <li><a href="{% url 'myvatnbath' %}">myvatnbath</a></li>
    



</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>
</div>
</body>
{% endblock %}
