{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}



{% block body_block %}
<div>
    <h1>Search</h1>
    <br/>
    <form class="form-inline" id="user_form"
        method="post" action="{% url 'search' %}"> {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" size="50" name="query" value="" id="query" />
        </div>
        <button class="btn btn-primary" type="submit" name="submit"
            value="Search">Search</button>
    </form>
    <div>
        {% if result_list %}
        <h3>Results</h3>
        <!-- Display search results in an ordered list --> <div class="list-group">
            {% for result in result_list %}
            <div class="list-group-item">
                Webhose Search 171
                <h4
                    class="list-group-item-heading">
                    <a href="{{ result.link }}">{{ result.title }}</a> </h4>
                <p class="list-group-item-text">{{ result.summary }}</p>
            </div> {% endfor %}
        </div>
        {% endif %} </div>
</div>

<script>
    (function() {
     var cx = '014464990447057016798:ywdnm9rwykk';
     var gcse = document.createElement('script');
     gcse.type = 'text/javascript';
     gcse.async = true;
     gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(gcse, s);
     })();
    </script>
<gcse:search></gcse:search>


{% endblock %}

