{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

{% block body_block %}
<h2>Search Explore Iceland</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
	<li><a href="{% url 'index' %}">Akureyri</a></li>
	<li><a href="{% url 'index' %}">Egilstaðir</a></li>
	<li><a href="{% url 'index' %}">Ísafjörður</a></li>
	<li><a href="{% url 'index' %}">Keflavík</a></li>
	<li><a href="{% url 'index' %}">Reykjavík</a></li>


	<li><a href="{% url 'index' %}">Diving</a></li>
	<li><a href="{% url 'index' %}">Hiking</a></li>
	<li><a href="{% url 'index' %}">Horse riding</a></li>
	<li><a href="{% url 'icecaveexploring' %}">Ice Cave Exploring</a></li>
	<li><a href="{% url 'index' %}">Ski</a></li>
	<li><a href="{% url 'whalecruise' %}">Whale Cruise</a></li>

	<li><a href="{% url 'horse' %}">Horse</a></li>
	<li><a href="{% url 'puffin' %}">Puffin</a></li>
	<li><a href="{% url 'reindeer' %}">Reindeer</a></li>
	<li><a href="{% url 'seal' %}">Seal</a></li>
	<li><a href="{% url 'whale' %}">Whale</a></li>

	<li><a href="{% url 'glacier' %}">Glacier</a></li>
	<li><a href="{% url 'index' %}">Hot Spring</a></li>
	<li><a href="{% url 'index' %}">Northern light</a></li>
	<li><a href="{% url 'index' %}">Volcano</a></li>
	<li><a href="{% url 'index' %}">Waterfall</a></li>

	<!--Inside Gracier-->
	<li><a href="{% url 'index' %}">Vatnajökull Glacier</a></li>
	<li><a href="{% url 'index' %}">Langjökull Glacier</a></li>
	<li><a href="{% url 'index' %}">Hofsjökull Glacier</a></li>
	<li><a href="{% url 'index' %}">Myrdalsjökull Glacier</a></li>
	<li><a href="{% url 'index' %}">Eyjafjallajökull Glacier</a></li>




</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>

</body>
{% endblock %}
