{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
        <title>Seal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

{% block body_block %}
<div class="container-fluid">
    <br>
    <h1 style="text-align:center">Skiing and Snowboarding in Iceland</h1>
    <img src="{% static "images/skier.jpg" %}" alt="Skier" width="1200" height="800"></img>
    <p><i>(Source: ScandincGuides.com)</i></p>
    <br>
    <h3 style="text-align:justify">At first glance, one could be forgiven for believing that Iceland’s ski slopes and resorts lack the excitement of their international counterparts. After all, Iceland is a fairly small country, with only a handful of ski resorts limited to operating from November to May. In truth, however, the skiing and snowboarding culture in Iceland is very much alive and growing, with a fantastic reputation for backcountry carving and ski mountaineering.</h3>
    <p>Source: GuideToIceland.is</p>
    <br>
    <h2 style="text-align:center">Popular Ski Resorts</h2>
    <br>
    
    
    <div class="row">
        <div class="col-sm-6">
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112038.96167213561!2d-21.779537202303437!3d63.97463225381652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d66c676f59ceef%3A0x92f8a20817e11672!2zQmzDoWZqw7ZsbA!5e0!3m2!1sen!2spl!4v1521584899730" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <h3>Bláfjöll Ski Resort</h3>
            <p style="text-align:justify">Most visitors to Iceland will make the capital city, Reykjavík, their first port of call. Though skiing in the south-west is generally regarded as less thrilling than in the North, the Bláfjöll Ski Resort still offers plenty for the average skier and snowboarder.<p>
            <p style="text-align:justify">Located in just a 30 minutes drive southeast from Reykjavik, this resort is where the city dwellers flock the moment snow begins to lay. Foreign visitors also consider Bláfjöll to be an excellent choice for an alternative holiday experience, given its ease of access and effortless runs.<p>
            <p style="text-align:justify">The resort holds 16 lifts capable of transporting skiers and snowboarders to a wide array of runs, including off-piste tracks that venture further out into the landscape. Flood lighting keeps the slopes well illuminated throughout the season, meaning runs can be undertaken well into the dark, winter evenings, often admiring the Northern Lights from the mountaintops.<p>
            <p><small>Source: GuideToIceland.is</small></p>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-sm-6">
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51993.44193846086!2d-18.62582804086197!3d65.96871826903359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d2becef038b92b%3A0xd430c438d3c16f6a!2zU2vDrcOwYXN2w6bDsGkgRGFsdsOta3Vy!5e0!3m2!1sen!2spl!4v1521584950448" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <h3>Dalvík Ski Resort</h3>
            <p style="text-align:justify">Dalvík is the unofficial home of skiing and snowboarding in Iceland, with a large number of professional winter sports athletes coming out of this small, fishing town, approximately 40 minutes drive outside of Akureyri.<p>
            <p style="text-align:justify">Former residents of Dalvík have gone on to compete across the world in such competitions as the Winter Olympics and the World Skiing Championships. It’s hardly surprising, given the rugged terrain of the North, and the rich snow that befalls it every year. This is territory where years of practice actually means something.<p>
            <p style="text-align:justify">The landscapes around Dalvík - the neighbouring Grenivík and the Tröllaskagi peninsula - make it the perfect location for skiers and snowboarders alike. The surrounding mountains brim with opportunities to huck cliffs, ride long powder chutes and experience off-piste conditions like never before.<p>
            <p style="text-align:justify">At the resort itself, there is plenty to occupy oneself in the meantime. The area boasts a wide variety of runs, more than enough to cover the skill spectrum, with the longest measuring up to 1200m. There are also snow production machines on site to ensure the best powder season round, and flood-lights that keep the resort well lit into the night.</p>
            <p><small>Source: GuideToIceland.is</small></p>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-sm-6">
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51820.001439633146!2d-23.245269089381747!3d66.05391084522823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4f2ae03b581c4d6b%3A0x885684d156b309f7!2zw41zYWZqw7Zyw7B1ciwgSWNlbGFuZA!5e0!3m2!1sen!2spl!4v1521585001896" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <h3>Ísafjörður Ski Resort</h3>
            <p style="text-align:justify">The ski resort in Ísafjörður is the perfect location for skiers and snowboarders already in the Westfjords. The resort can be found at Tungudalur, nestled between two gorgeous valleys. There are three chairlifts at the resort and numerous slopes suitable for a wide range of skill levels. The resort also boasts one of the longest and steepest runs in the whole of Iceland. The resort is situated from 115m to 487m elevation.<p>
            <p style="text-align:justify">There is also excellent backcountry skiing available from Isafjordur Ski Resort, with the Seljalandsdalur valley holding runs that range from 2km to 10km. Some operators, such as Aurora Arktika, offer Sailboat Skiing trips, where guests will spend up to 6 exciting days exploring the coastal fjords on the expedition yacht Aurora, always on the lookout for the best slopes. <p>
            <p><small>Source: GuideToIceland.is</small></p>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-sm-6">
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1681.925480130436!2d-13.898833433889422!3d65.06723759541535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48c952fdbaff1805%3A0x82c7622df529f836!2zU0vDjcOQQU1Jw5BTVMOWw5BJTiDDjSBPRERTU0tBUsOQSQ!5e0!3m2!1sen!2spl!4v1521585045467" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <h3>Oddsskarð Ski Resort</h3>
            <p style="text-align:justify">Often referred to as "Iceland’s Eastern Fjord Alps", Oddsskarð is sheltered by mountains around the Oddsskarð pass and road tunnel, positioned bang in the middle between the villages of Eskifjörður and Norðfjörður.<p>
            <p style="text-align:justify">Here, 9km of slope beckon riders of all skill sets, the largest run peaking at 840m. The resort has three tow lifts capable of transporting up to 2000 people an hour, and cross country runs to suit those looking to ride off the beaten track.<p>
            <p style="text-align:justify">Amenities at Oddsskarð are limited to a single ski lodge, able to hold up to 40 people in sleeping bags, and a cafeteria for those moments of well-earned respite.<p>
            <p><small>Source: GuideToIceland.is</small></p>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-sm-6">
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52581.68819951028!2d-18.20194715571669!3d65.67935373308035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d28e8d1ad0a3f9%3A0x5f28db7dceb0fcc0!2sHl%C3%AD%C3%B0arfjallsvegur%2C+Akureyri%2C+Iceland!5e0!3m2!1sen!2spl!4v1521585080529" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <h3>Hlíðarfjall Ski Resort</h3>
            <p style="text-align:justify">Only a short drive away from Akureyri is Hlíðarfjall, Iceland’s premier ski slope, open from November to May. In 2015, Lonely Planet voted the slope as one of the top 12 exotic ski locations internationally. Locals, however, have always considered Hlíðarfjall the best location for resort skiing. It’s easy to see why.<p>
            <p style="text-align:justify">Hlíðarfjall is situated amongst the breathtaking views of Eyjafjörður, a fjord extending all the way to a tabletop summit. Here, the snow is high quality - not too hard, not too deep - embellished by built-in snow blowers which help keep the resort covered season long in a blanket of white. The resort has three tow lifts, with the highest section offering truly death defying runs - only hit the top if you're an experienced rider!<p>
            <p><small>Source: GuideToIceland.is</small></p>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-sm-6">
            <br>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                     var js, fjs = d.getElementsByTagName(s)[0];
                     if (d.getElementById(id)) return;
                     js = d.createElement(s); js.id = id;
                     js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
                     fjs.parentNode.insertBefore(js, fjs);
                     }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://127.0.0.1:8000/ExploreIceland/activities/hiking/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            <div class="fb-comments" data-href="http://127.0.0.1:8000/ExploreIceland/activities/hiking/" data-numposts="5"></div>
        </div>
    </div>
</div>
{% endblock %}
