{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Stunning Volcanoes</title>
</head>

{% block body_block %}

    <h1>Volcano in Iceland</h1>
    <p style="width:1000px;text-align:justify;">
    Vocalno is one of Iceland's most famous sightseeings. To Iceland, visitors must feel the complete volcanic landscape, including volcanic rocks, lava fields and volcanic internal tunnels. Especially in the interior of volcanoes, Iceland is the only place in the world that allows visitors to visit and is listed as the first place to go. The entire island can participate in such experience activities, but the activities in the west are more prevalent and active.
Volcanoes in Iceland includes 130 active and extinct volcanic mountains, of which 18 have erupted since human settlement of Iceland began circa 900 CE. The highest is Hvannadalshnjúkur established the height of the mountain as 2,109.6 metres (6,921 ft) and the peak is part of the Vatnajökull National Park. The second volcano is Bárðarbunga with 2009 meters of elevation. The largest volcano in southern Inceland is Katla. Some volcanoes are still active or active during different era, such as Holocene and Pleistocene. </p>
    <img src="{% static "images/volcanolist.png" %}"alt="List of Volcanoes." style="width:500px;"> <img src="{% static "images/volcanomap.gif" %}"alt="Map of Volcanoes." style="width:500px;">
    <p>Diverse landform of volcanoes in Iceland that you should visit in person.</p>
    <img src="{% static "images/volcanohead.jpg" %}"alt="Volcano Head." style="width:800px;">
    <img src="{% static "images/volcanoeruption.jpg" %}"alt="Volcano Eruption." style="width:800px;">
    <img src="{% static "images/benjaminhardman.jpg" %}"alt="Interior Volcano." style="width:800px;">


    <h3>Top 3 Volcano in Iceland</h3>
    Seeing this wonderful natural phenomenon in person will be one of the most awe-inspiring things you ever witness. The volcano tour is the best admired around iceland. The best thing to visit is to attend the local tour and explore interior volcano tunels or lava flows!

    <h4><a href="http://127.0.0.1:8000/ExploreIceland/bardarbunga/">1. Bárðarbunga in Vatnajökull</a></h4>
    <img src="{% static "images/bardarbunga.jpg" %}"alt="Bárðarbunga in Vatnajökull." style="width:800px;">

    <h4><a href="http://127.0.0.1:8000/ExploreIceland/maelifell/">2. Myrdalsjökull</a></h4>
    <img src="{% static "images/maelifell.jpg" %}"alt="Myrdalsjökull." style="width:800px;">

    <h4><a href="http://127.0.0.1:8000/ExploreIceland/katla/">3.Katla</a></h4>
    <img src="{% static "images/katla.jpg" %}"alt="Katla." style="width:800px;">

<p>credit:<a href="http://www.worldation.com/nature/">http://www.worldation.com/nature/</a></p>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like"
         data-href="http://127.0.0.1:8000/ExploreIceland/northernlights/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
         data-share="true"></div>

    <div class="fb-comments"
         data-href="http://127.0.0.1:8000/ExploreIceland/northernlights/"
         data-numposts="5"></div>

    <p>Other volcanoes in northern Iceland that tourists have visited and highly recommanded.</p>
    <p>1. Hverfjall</p>
    <img src="{% static "images/hverfjall.jpg" %}"alt="Hverfjall." style="width:800px;">
    <p>2. Hverir</p>
    <img src="{% static "images/hverir.jpg" %}"alt="Hverir." style="width:800px;">
    <p>3. Dimmuborgir</p>
    <img src="{% static "images/dimmuborgir.jpg" %}"alt="Dimmuborgir." style="width:800px;">
    <p>Travellers also interest in volcanoes located in western Iceland: </p>
    <img src="{% static "images/basalt.jpg" %}"alt="Basalt." style="width:800px;">
    <img src="{% static "images/interiorvolcano.jpg" %}"alt="Interior Volcano." style="width:800px;">
                    
{% endblock %}
