{% extends 'ExploreIceland/base_bootstrap.html' %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Whale Cruise</title>
</head>

{% block body_block %}
<div style="width:1000px; margin:0 auto;">
    <img src="{% static "images/whalewatching.jpg" %}"alt="Whale watching." style="width:800px;">

    <h1>Whale Cruise</h1>
    <p style="width:800px;text-align:justify;">A whale watching tour will always be an unforgettable experience and
        there is an abundance of enticing options available for all whale watching enthusiasts.I advise you to examine
        this list of whale watching tours to see your options, where you can choose from a variety of vessels, ranging
        from traditional Icelandic oak boats to modern RIB speedboats, and tours lasting from a couple of hours to
        whole days.</p>

    <h2>How To Get There</h2>
    <p style="width:800px;text-align:justify;">On the most affordable whale watching trip departing from Reykjavik,
        the most commonly spotted animals are minke whales, whale beaked dolphins and harbour porpoises, but the
        chances of seeing the humpback heavyweight, are much higher on a Húsavík whale watching trip in Skjálfandi bay
        in North Iceland.</p>

    <h2>When To Get There</h2>
    <p style="width:800px;text-align:justify;">Whale watching tours can be enjoyed throughout the year, but the season
        in which you embark on one will entirely shape your experience. There are advantages to whale watching in summer
        over winter, and visa versa, that you should consider before booking your trip.</p>

    <h2>Recommended Area</h2>
        <li>Reykjavík</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55701.205112692!2d-21.922481472717088!3d64.13347354484813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d674b9eedcedc3%3A0xec912ca230d26071!2sReykjav%C3%ADk%2C+Iceland!5e0!3m2!1sen!2suk!4v1520736911790"
        width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        <li>Akureyri</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105204.57023934543!2d-18.27547705849406!3d65.66920996512252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d28f071cb0bfa7%3A0xbdb632798c71fdd1!2sAkureyri%2C+Iceland!5e0!3m2!1sen!2suk!4v1520736947191"
        width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        <li>Húsavík</li>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12960.689021187512!2d-17.362861835998682!3d66.04273715721348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48cd42159e4b2c3b%3A0x30afb44cc03c202f!2zSMO6c2F2w61rLCBJY2VsYW5k!5e0!3m2!1sen!2suk!4v1520736969252"
        width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

    </ul>

    <h2>Recommended Agency</h2>
        <li>Salka Whale Watching | <a href="http://salkawhalewatching.is/">salkawhalewatching.is</a></li>
        <li>Whale Safari | <a href="http://www.whalesafari.is/">www.whalesafari.is</a></li>
        <li>Iceland Travel | <a href="https://www.icelandtravel.is/day-tours/#/?rows=18&q=&sort=sort_i%20desc&fq=activities_com:13835">www.icelandtravel.is</a></li>
    </ul>


    <p>credit:guidetoiceland.is</p>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <aside><div class="fb-like"
         data-href="http://127.0.0.1:8000/ExploreIceland/whalecruise/"
         data-layout="standard"
         data-action="like" data-size="small"
         data-show-faces="true"
                data-share="true"></div></aside>

    <div class="fb-comments"
         data-href="http://127.0.0.1:8000/ExploreIceland/whalecruise/"
         data-numposts="5"></div>

</div>
{% endblock %}
